

ALCHEMY_ETH_KEY=hIFXSX5fowBSnK5eRiioihIFXSX5fowBSnK5eRiioi
BLOCKFROST_ADA_PROJECT_ID=preprodJKrEjCnO0pmCBMQwb0UKt5GsuUQAyjH6
ETH_DEPOSIT_WALLET=0x0a24533bcC42755C603a39d2eC34F4d31C374022
ADA_DEPOSIT_WALLET=addr_test1qzlx37p87pe8acwnqkxvkaztvcxq974usev98hdwghc75xq3mxv9u0e38txkc00nnnfmagc0ty3qk6kdmw7s9pwkm4usdkt00q

# Set to true for mainnet (DANGER: Real money!)
MAINNET=false

# Crypto prices (update via API or manual)
ETH_USD_PRICE=2500
ADA_USD_PRICE=0.35

