/* Custom styles for Home page */
.home-main {
  overflow-x: hidden;
  position: relative;
  top: 70px;
  width: 100vw;
  height: 100vh;
  background: #eff6ff;
}

/* Enhanced Home Page for Large Screens */
@media (min-width: 1440px) {
  .home-main {
    top: 80px;
    height: calc(100vh - 80px);
  }
}

@media (min-width: 1920px) {
  .home-main {
    top: 80px;
    height: calc(100vh - 80px);
  }
}

@media (max-width: 768px) {
  .home-main {
    height: 50vh;
  }
}

@media (max-width: 480px) {
  .home-main {
    height: 30vh;
  }
}
